<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quiz" (click)="entrarQuiz()">
      <ion-icon aria-hidden="true" name="game-controller-sharp"></ion-icon>
      <ion-label>Game</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ranking" href="/tabs/ranking">
      <ion-icon aria-hidden="true" name="trophy"></ion-icon>
      <ion-label>Ranking</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
